footer.footer
    .container
        .footer-copyright
            .footer-copyright__text © 2018 «LoremIpsum.net» Все права защищены.
        .footer-payment
            .footer-payment__item
                .image: +icons("#ic_qiwi",20)
                .caption QIWI
            .footer-payment__item
                .image: +icons("#ic_ymoney",20)
                .caption Yandex Money
            .footer-payment__item
                .image: +icons("#ic_wmoney",20)
                .caption Web Money
        .footer-contacts
            a(href="mailto:info@ipsum228.com").footer-contacts__item
                .icon: +icons('#ic_mail')
                .value info@ipsum228.com
            a(href="//vk.com").footer-contacts__item
                .icon: +icons('#ic_vk')
                .value Мы вконтакте